@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body{
    font-family: "Montserrat", sans-serif;
    background: #2c2c30;
    color: #FFF;
    height: 100%;
    width: 70%;
    margin: 10px auto;
    letter-spacing: 2px;
}

p{
    font-size: 15px;
}

h1, h3{
    text-transform: uppercase;
    margin: auto 0;
    font-family: "Nunito", sans-serif;
}

h3{
    margin: 5px 0 15px;
}

div{
    border-radius: 2px;
}

.container{
    display: grid;
    height: calc(100vh - 20px);
    width: calc(100% - 8px);
    grid-template-rows: 10vh;
    grid-template-columns: 15% 85%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

/*
---------------------------------------------------------
    HEADER ELEMENT
---------------------------------------------------------
*/

.header{
    background: #44444d;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px;
    box-shadow: 2px 2px 5px black;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.header p {
    margin-top: 5px;
}



svg text {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-size: 8vh;
    font-weight: bold;
    align-items: end;
    opacity: 0.5;
}
/*
---------------------------------------------------------
    NAV ELEMENT
---------------------------------------------------------
*/
.nav{
    background: #44444d;
    display: flex;
    padding-left: 5px;
    box-shadow: 2px 2px 5px black;
}

.nav ul{
    padding: 0;
    margin: 5px 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.nav ul li{

    padding: 2px;
    margin: 2px 0;
    display: block;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
    cursor: pointer;
}

.nav ul li p{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    position: relative;
    margin: 10px 5px;
}

.nav ul li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    margin-right: 5px;
    background: #25516e;
    background: linear-gradient(
            126deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(65, 97, 117, 1) 0%,
            rgba(37, 81, 110, 1) 100%
    );
    border-radius: 2px;
    transition: all 0.4s ease;
}

.nav ul li.active {
    width: 100%;
}

.nav ul li.active p {
    font-weight: bold;
    margin-right: 5px;
}

.nav ul li.active:before {
    width: 100%;
    transition: all 0.2s ease;
}

.nav ul li:last-child {
    margin-bottom: 0;
}

/*
---------------------------------------------------------
    CONTENT ELEMENT
---------------------------------------------------------
*/

.content{
    color: #FFFFFF;
    background: #44444d;
    box-shadow: 2px 2px 5px black;
}

.content .wraper {
    padding: 10px;
}

.content .wraper .item p {
    letter-spacing: 1px;
    margin: 5px 0;
    font-size: 15px;
    color: #FFFFFF;
}

.content_container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dash{
    margin: 5px;
    padding: 10px;
    height: 200px;
    width: 200px;
    background: #2c2c30;
    border-radius: 3px;
    text-align: center;
    box-shadow: 2px 2px 8px #2e2e33;
}
.dash .text{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dash:hover{
    background: linear-gradient(
            126deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(65, 97, 117, 1) 0%,
            rgba(37, 81, 110, 1) 100%
    );
    transition: all ease;
}

.item ul li{
    padding: 5px 0;
}

.item ul li a{
    color: #FFFFFF;
    text-decoration: none;
}

.item ul li a:hover{
    color: #FFFFFF;
    font-weight: bold;
    background: #25516e;
}



